#check.valign-wrapper.loader
    .center.row
        .col.s12
            .preloader-wrapper.active
                .spinner-layer.spinner-white
                    .circle-clipper.left
                        .circle
                    .gap-patch
                        .circle
                    .circle-clipper.right
                        .circle
        .col.s12
            span= t('onboarding_device_create')
