#password.wizard-step.fWizardPassword
    .block-100.valign-wrapper
        .valign.center
            form
                .row
                    .input-field.col.s12
                        i.material-icons.prefix https
                        input#input-password(type='password', value=password, class=(error?'invalid':''))
                        label(for='input-password', data-error=(error?t(error):' '))
                            = t('password placeholder')
                    .input-field.col.s12
                        input#display-password(type="checkbox")
                        label(for='display-password')= t('onboarding_password_display')

            p.flow-text
                = t('password help', {url: cozyUrl})

            a#btn-back(href='#onboarding/url')
                = t('wrong cozy address')

            a#btn-password.button.waves-effect.waves-light.btn-large.white(href='#onboarding/check')
                = t('login')
