#welcome.wizard-step.fWizardWelcome
    .block-100.valign-wrapper
        .big-icon-container.valign.center-align
            .row
                .col.s12.m6
                    img.big-icon(src="./img/icon.png")
                .col.s12.m6
                    br.hide-on-small-only
                    br.hide-on-small-only
                    h1
                        = t('your own private cloud')
                    a.waves-effect.waves-light.btn-large.bg-cozy-color(href="#onboarding/url")
                        = t('sign in to your cozy')
