// Errors
// ----------------------------------------------------------------------------

.error-msg
    margin-top 10px
    margin-bottom 10px
    padding 10px

    background-color red
    border-style solid
    border-width 1px

    color white
    font-size 16px
    line-height 20px
    text-align center
    text-overflow ellipsis

    a
        color white
