.import
    .import-state
        display block

.import-state
    display none
    position absolute
    overflow hidden
    bottom 0
    left 0
    right 0
    background-color #F1F2F4
    color #3A3A42
    font-weight bold

    .progress
        margin 0
        background-color #E2E2E2
        height 6px

        .determinate
            background-color #34A7FF

    .info
        margin 15px 25px
