.mediaPicture
    background-size contain
    position fixed
    top 56px
    bottom 0
    left 0
    right 0
    z-index 299
    background-color black
    color white
    background-repeat no-repeat
    background-position center, center

    .mediaHeader
        transition-duration: 0.3s;
        position fixed
        top 0
        left 0
        right 0

        .btn-floating
            background-color transparent
            box-shadow inherit

        span
            position absolute
            top 0
            left 55px
            right 55px
            height 56px
            overflow hidden
            white-space nowrap
            text-overflow ellipsis

    .mediaContainer
        height 100%

        iframe
            border none
            width 100%
            height 100%

    .actions
        position: absolute
        top 0
        right 0
        padding-left 15px
        border-radius 28px

    nav
        background-color #000

        a
            height 56px
