.mediaPicture
    background-size contain
    position fixed
    top 5px
    bottom 5px
    left 5px
    right 5px
    background-repeat no-repeat
    background-position center, center

    .actions
        position: fixed;
        bottom: 40px;
        left: 0;
        right: 0;

        li
            display inline-block

        a
            margin 10px 40px

.platform-ios
    .mediaPicture
        top 20px
