.mediaPicture
    background-size contain
    position fixed
    top 5px
    bottom 5px
    left 5px
    right 5px
    background-repeat no-repeat
    background-position center, center

.platform-ios
    .mediaPicture
        top 20px
