.splash-screen
  width 33%
  position absolute
  top 45%
  left 50%
  margin-left -16.5%
  margin-top -16.5%

.splash-message
  width 66%
  position absolute
  bottom 20%
  left 50%
  margin-left -33%
  color white
  font-family sans-serif
  font-size 18px
  text-align center
