platforms
plugins
keys/android/*
!keys/android/.gitkeep
keys/ios/*
!keys/ios/.gitkeep
*.transifex.coffee
www
node_modules
src/coverage
src/node_modules
/fastlane/report.xml
/fastlane/Error*.png
/fastlane/Preview.html
build
