<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cozy.files-client" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cozy-Files</name>
    <description>
        Sync files from cozy files
    </description>
    <author email="contact@cozycloud.cc" href="http://cozy.io">
        Cozy Cloud
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
