a.home(href="#folder/")
  .ion-home
  .arrow(style='display: none;')
    .blue-arrow(style='left:25px;')
    .white-arrow(style='left:28px;')
  .round(style='left: 25px;')

a#truncated(style='display: none;') ...
  .arrow
    .blue-arrow(style='left:35px;')
    .white-arrow(style='left:38px;')
#crumbs
  ul
#shadow