//- one folder or file in folder view

.item-content

    if model.docType == 'Folder'
        i.icon.ion-folder
    else
        i.icon.ion-document
    span= model.name

    if model.docType == 'Folder'
        i.icon.ion-chevron-right
    else if model.incache
        i.cache-indicator.icon.ion-ios7-download-outline
    else
        i.cache-indicator.icon.ion-ios7-cloud-download-outline


.item-options.invisible
    if model.incache == 'loading'
        .button
            | Loading
    else if model.incache
        .button.uncache
            | Remove local
    else
        .button.download
            | Download
