#container.pane
  #bar-header.bar.bar-header
    a#btn-menu.btn-menu

    #icon-logo.icon-logo

    h1#title.title
    #breadcrumbs

    a#headerSpinner.spinner
      img(src="img/spinner.svg")

  .bar.bar-subheader.bar-calm
    h2#backupIndicator.title
  .bar.bar-subheader.bar-calm
    h2#initIndicator.title
  .bar.bar-subheader.bar-assertive.bar-error
    span#closeerror.buttons &nbsp; X &nbsp;
    h2#errorIndicator

  #viewsPlaceholder.scroll-content.has-header
    .scroll
