#container.pane
  .bar#bar-header.bar-header
    a#btn-menu.button.button-icon: img(src="img/menu-icon-blue.png")


    h1#title.title Loading
    #breadcrumbs

    a#headerSpinner.button.button-icon: img(src="img/spinner.svg", width="25")
  .bar.bar-subheader.bar-calm
    h2#backupIndicator.title

  #viewsPlaceholder.scroll-content.has-header.has-footer
    .scroll
        .scroll-refresher
            .ionic-refresher-content
                .icon-pulling
                    i.icon.ion-arrow-down-c
                    = t('pull to sync')
                .icon-refreshing
                    i.icon.ion-loading-d
                    = t('syncing')
