#container.pane
  .bar.bar-header.bar-calm
    a#btn-menu.button.button-icon.icon.ion-navicon-round
    h1.title Cozy Files

  #viewsPlaceholder.scroll-content.has-header.has-footer


  .bar.bar-footer
    a#btn-back.button.button-icon.icon.ion-ios7-arrow-back
