#container.pane
  #bar-header.bar.bar-header
    a#btn-menu.btn-menu

    #icon-logo.icon-logo

    h1#title.title Loading
    #breadcrumbs

    a#headerSpinner.spinner
      img(src="img/spinner.svg")

  .bar.bar-subheader.bar-calm
    h2#backupIndicator.title

  #viewsPlaceholder.scroll-content.has-header
    .scroll
