#container.pane
  .bar.bar-header.bar-calm
    a#btn-menu.button.button-icon.icon.ion-navicon-round
    a#headerSpinner.button.button-icon.icon.ion-looping
    h1#title.title Loading
  .bar.bar-subheader.bar-calm
    h2#backupIndicator.title

  #viewsPlaceholder.scroll-content.has-header.has-footer
    .scroll
        .scroll-refresher
            .ionic-refresher-content
                .icon-pulling
                    i.icon.ion-arrow-down-c
                    = t('pull to sync')
                .icon-refreshing
                    i.icon.ion-loading-d
                    = t('syncing')


  .bar.bar-footer
    a#btn-back.button.button-icon.icon.ion-ios7-arrow-back
