.bar.bar-header.bar-dark
    h1.title Menu

.content.has-header
    div.item.item-input-inset
        label.item-input-wrapper
            input#search-input(type="text", placeholder=t("search"))
        a#btn-search.button.button-icon.icon.ion-search

    a.item.item-icon-left(href="#folder/")
        i.icon.ion-home
        = t('home')

    a.item.item-icon-left(href="#config")
        i.icon.ion-wrench
        = t('config')

    //- a#syncButton.item.item-icon-left
    //-     i.icon.ion-loop
    //-     = t('sync')

    a#backupButton.item.item-icon-left
        i.icon.ion-ios7-cloud-upload-outline
        = t('backup')


