a.home(href="#folder/")
    .span= t('files')
    .arrow(style='display: none;')
        .blue-arrow
        .white-arrow

//- Current folder
#crumbs
  if hasFolder
    ul
      li
        a(href="#folder#{folder.path}")
        | #{folder.name}


