.list
    #finishSync.card.no-shadow.more-spacing.flat
        .progress.item.item-text-wrap= t('message step 0')
    .card.no-shadow.more-spacing
        button#btn-end.button.button-block.button-balanced= t('waiting...')
