//- one folder or file in folder view

.item-content



    if isFolder
        i.icon.icon-type.type-folder

    else if model.mime && this.mimeClasses[model.mime]
       i(class="icon icon-type #{this.mimeClasses[model.mime]}")

    else
        i(class="icon icon-type type-text")

    span= model.name

    if isFolder
        i.cache-indicator.icon.icon-download
    else if model.incache && model.version
        i.cache-indicator.icon.icon-phone
    else if model.incache
        i.cache-indicator-version.icon.icon-phone
    else
        i.cache-indicator.icon.icon-download


.item-options.invisible
    if model.incache == 'loading'
        .button
            = t('loading')
    else if model.incache
        .button.uncache
            = t('remove local')
    else
        .button.download
            = t('download')
