div(style="background-image: url(#{path})", class="mediaPicture" id="mediaPicture")
    .actions.center.hide
        ul
            li
                a#exit.btn-large.btn-floating.bg-cozy-color
                    i.large.material-icons close
            li
                a#open.btn-large.btn-floating.bg-cozy-color
                    i.large.material-icons open_in_browser
