#mediaPicture.mediaPicture
    .mediaHeader
        nav
            .nav-wrapper
                ul.left
                    li
                        a#exit
                            i.material-icons.left arrow_back
                    li
                        span= fileName

                a.actions.waves-effect.waves-light
                    i.mdi.mdi-dots-vertical.btn-floating

    .mediaContainer
        iframe(allowfullscreen="true", src="viewer/index.html?mimetype=" + mimetype + "#" + path)


#actions-modal.modal.bottom-sheet
    .modal-content
        .collection.files.cache
            .collection-header
                i(class='icon mdi mdi-' + icon)
                .name.truncate= fileName
            a.collection-item.waves-effect.cache.actionDisplay
                i.icon.mdi.mdi-open-in-new
                span= t('modal_action_file_display_out')
            a.collection-item.waves-effect.cache.actionRemove
                i.icon.large.material-icons phonelink_erase
                span= t('modal_action_file_remove_device')
