#mediaPicture.mediaPicture.display-actions(style="background-image: url('#{path}')")
    .mediaHeader.actions
        nav
            .nav-wrapper
                ul.left
                    li
                        a#exit
                            i.material-icons.left arrow_back
                    li
                        span= fileName

                //ul.right
                //    li
                //        a#actions
                //            i.mdi.mdi-dots-vertical.btn-floating
    .mediaFooter.actions
        nav
            .nav-wrapper
                ul.left
                    li
                        a#remove.waves-effect.waves-teal.btn-flat
                            i.large.material-icons phonelink_erase
                ul.right
                    li
                        a#open.waves-effect.waves-teal.btn-flat
                            i.large.material-icons launch
