.content
    div.item.item-input-inset
        label.item-input-wrapper
            input#search-input(type="text", placeholder=t("search"))
        a#btn-search.btn-search

    a.item.icon-folder(href="#folder/")
        = t('files')

    a.item.icon-cog(href="#config")
        = t('config')

    a#syncButton.item.icon-sync
        = t('sync')
