// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

// #mainContent
// height 100%

.scroll .list
    position absolute
    top 0px
    width 100%
    transform translate3d(0, 0, 0)
    transition all ease-in-out 250ms

.scroll .list.sliding-next
    transform translate3d(100%, 0, 0)
    transition all ease-in-out 250ms

.scroll .list.sliding-prev
    transform translate3d(-100%, 0, 0)
    transition all ease-in-out 250ms

// blue
basecolor = #34A6FF
basecolor-alpha = rgba(49, 156, 256, 0.5)

// green
contrastcolor = #5C5

// orange
actioncolor = #fe8800
actioncolor-alpha = rgba(254,128,0,0.5)

// gray and dark gray
lightcolor = #fcfcfc
mediumcolor = #BDBDBD
mediumcolor-contrast = #428bca
darkcolor = #444

darkbase = basecolor - 20%
.button.button-calm
    background-color basecolor

.bar.bar-calm
    background-color basecolor
    border-color darkbase
    background-image linear-gradient(top, darkbase, darkbase 50%, transparent 50%);

.button.button-energized
    background-color actioncolor
    border-color actioncolor - 20%

.button.button-balanced
    background-color contrastcolor
    border-color contrastcolor - 20%

.cache-indicator
    color mediumcolor

.icon.ion-chevron-right
    left auto

.icon.ion-chevron-right + .cache-indicator
    left auto
    right 40px

.pull-right
    float right

// overrides ionic default
.input-label
    flex 1 0 130px

.item-progress
    position: absolute
    bottom: 0px
    left: 0px
    width: 100%
    display: block
    z-index: 100
    height: 5px

    .item-progress-bar
        position absolute
        height: 100%
        background-color basecolor-alpha