// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import 'base/_colors'
@import 'base/_background'
@import 'base/_foreground'
@import 'base/_icons'
@import 'base/_buttons'
@import 'base/_form'

@import 'components/_list-item'
@import 'components/_toolbar'
@import 'components/_menu'
@import 'components/_errors'
@import 'components/_splash'
@import 'components/_wizard'

// ----------------------------------------------------------------------------

a
    color blue
    text-decoration none

.scroll .list
    position absolute
    top 0
    width 100%
    transform translate3d(0, 0, 0)
    transition all ease-in-out 250ms

    &.sliding-next
        transform translate3d(100%, 0, 0)
        transition all ease-in-out 250ms

    &.sliding-prev
        transform translate3d(-100%, 0, 0)
        transition all ease-in-out 250ms


#close-menu
    width 100%
    border none
    line-height 48px
    font-size 17px


// Cache
.cache-indicator
    color grey-03

    img
        width 25px

.cache-indicator-version
    color blue


// reset
.no-shadow
    // overrides ionic default
    box-shadow 0 0

.card
    border-radius 4px

    &.more-spacing
        margin 30px

    &.flat > *
        background-color grey-01
        // overrides ionic default
        border 0



// add style to list on welcome screen
.welcome-message ul
    list-style   disc
    padding-left 1.25em



img.backup
    left 9px
    width 30px
    bottom 9px
    position absolute

.icon.ion-chevron-right + .cache-indicator
    left auto
    right 40px

.pull-right
    float right


.item-progress
    position: absolute
    bottom: 0px
    left: 0px
    width: 100%
    display: block
    z-index: 100
    height: 5px

    .item-progress-bar
        position absolute
        height 100%
        background-color rgba(blue,.5)

.pane
    box-shadow 0 0 30px grey-08, -1px 0 6px grey-08

.item
    p
        // overrides ionic default
        color grey-06
        white-space normal
    li
        color grey-06
        white-space normal
        font-size 14px

    &.item-divider
        text-transform uppercase
        font-size (13/16)em
        // overrides ionic default
        padding (8/16)em 1rem
        background-color grey-01
        border-color grey-02
        color grey-06

    .icon-backup
        flex none
        width (24/16)em
        height (24/16)em
        margin-right (18/16)em
        @extend $icon-backup

    &.item-icon
        display flex
        align-items center

        .text
            overflow hidden
            text-overflow ellipsis

.bar-error
    padding 0

#errorIndicator
    overflow visible
    text-align center
    line-height 22px
    font-size 17px
    white-space normal
    color white
    background-color #ef4e3a
    
    margin 0
    padding 10px

#closeerror
    float right
    margin 10px
