button#btn-back-fsm ◀

label
    input.auto-focus#input-password(
        type="password",
        placeholder=t('password placeholder'),
        value=password)
    if error
        = t(error, {url: cozyURL})
    else
        = t('password help', {url: cozyURL})

    button#btn-back
        = t('wrong cozy address')
    br

.button-block
    button#btn-password.button= t('login')
