br
br
br

label
    input.auto-focus#input-url(
        type="url",
        placeholder=t('url placeholder'),
        value=cozyURL)
    if error
        = t(error)
    else
        = t('url help')

br

a#btn-register(href="#", onclick="open('https://cozy.io/en/try-it/', '_system', 'location=yes')")
    = t('no account register')

br

.button-block
    button#btn-url.button= t('next')
