.page
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  -webkit-transform translate3d(0, 0, 0)
  transform translate3d(0, 0, 0)
  -webkit-transition-duration 5s
  transition-duration 5s


.page.posLeft1
  left -100%


.page.posCenter1
  left 0


.page.posRight1
  left 100%


#layout
  height 100%


#layout-with-menu
  #contentContainer
    position fixed
    top 56px
    bottom 0
    left 0
    right 0
    background-color white

    .snap-drawers
      position absolute

    .snap-content
      position absolute
      border none
      border-radius 0

nav .button-collapse
  margin 0 3px

#sidenav-overlay
  top 56px

.configClass
  overflow auto
  width 100%
  height 100%

  .collection
    z-index 2

h2.display-icon
  i
    font-size 150px
    color grey
